beautifulsoup4     
blinker            
certifi            
charset-normalizer 
click              
colorama           
cssselect          
deep-translator    
Flask              
Flask-SQLAlchemy   
goose3             
greenlet           
gTTS               
gunicorn           
idna               
itsdangerous       
Jinja2             
langdetect         
lxml               
MarkupSafe         
packaging         
pillow             
pip               
playsound          
pyahocorasick      
PyAudio            
pypiwin32          
python-dateutil    
pyttsx3           
pywin32            
requests         
setuptools        
six              
soupsieve         
SpeechRecognition  
SQLAlchemy       
typing_extensions
urllib3           
Werkzeug        
