{% extends 'base.html' %}
{% block conteudo %}
    <h2 class="text-center">Atualizar livro</h2>
    <hr>
    <br><br>
    <form action="{{url_for('atualiza_livro', id=livro.id)}}" class="form-group" method="POST">
        <label for="">Nome</label>
        <textarea class="form-control" type="text" name="nome" id="" placeholder="Nome do livro" required>{{livro.nome}}</textarea>
        <label for="">Descrição</label>
        <textarea class="form-control" type="text" name="descricao" id="" placeholder="Descrição do livro" required>{{livro.descricao}}</textarea>
        <label for="">Valor</label>
        <textarea class="form-control" type="text" name="valor" id="" placeholder="Valor do livro" required>{{livro.valor}}</textarea>
        <button class="btn btn-success">Atualizar</button>
    </form>

{% endblock conteudo %}
{% set active_page = 'atualiza_livro' %}